/**********************
DISPLAY ON MEDIUM-SIZED SCREENS
**********************/

@media screen and (min-width: 480px) {
	header {
		text-align: left;
	}

	header h2 {
		font-size: 1.75em;
	}

	#navbar ul {
		float: right;
		margin: 12px;
	}

	#endgame {
		width: 50%;
		left: 0;
		margin: 130px 24% 0;
	}

}

/**********************
DISPLAY ON LARGE SCREENS
**********************/

@media screen and (min-width: 660px) {
	header h2 {
		font-size: 2em;
	}
}